body{
	background-image: url('../img/background.jpg');
}
h1 {
  color: black;
  text-align:center;
  font-family:"Futura";
  font-size:80px;
  margin: 0 auto;
  border: 1px solid black;
  width: 420px;
  background-color: white;
}
#board{
	text-align:center;
}
.square{
	background-color:#A91E22;
	height:200px;
	width:200px;
/*	background-color: grey;*/
	border: 1px solid black;
	display:inline-block;
}
.clearfix{
	clear:both;
}
input{
	text-align:center;
	font-size:28px;
	background-color: white;
	font-family: "Futura";
}
#clearButton{
	text-align:center;
	width:100%;
}
#result {
  color: black;
  text-align:center;
  font-family:"Futura";
  font-size:30px;
  margin: 0 auto;
  border: 1px solid black;
  width: 100%;
  background-color: white;
  height:40px;

}
.dog{
	height:200px;
	width:200px;
	background-image: url('../img/dog.jpg');
	background-size: cover;
}
.cat{
	height:200px;
	width:200px;
	background-image: url('../img/cat.jpg');
	background-size: cover;
}
h6{
	color: black;
	text-align:center;
	font-family:"Futura";
	font-size:10px;
	margin: 0 auto;
}
@media (max-width: 620px){
  h1{
    width: 370px;
    font-size:60px;    
  }
  .square{
  height:150px;
  width:150px;
  }
   .dog{
  height:150px;
  width:150px;
  }
   .cat{
  height:150px;
  width:150px;
  }  
}
@media (max-width: 500px){
  h1{
    width: 320px;
    font-size:40px;     
  }  
  .square{
  height:100px;
  width:100px;
  }
   .dog{
  height:100px;
  width:100px;
  }
   .cat{
  height:100px;
  width:100px;
  }  
}
@media (max-width: 400px){
  h1{
    font-size:30px;     
    width: 300px;
  }  
  .square{
  height:90px;
  width:90px;
  }
   .dog{
  height:90px;
  width:90px;
  }
   .cat{
  height:90px;
  width:90px;
  }  
}